.session-result {
  width: 75%;
  height: 80%;
  position: relative;
  overflow: hidden;
}

.session-result-blocks {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  border-start-start-radius: 0.75rem;
  border-start-end-radius: 0.75rem;
}

.assembly-block {
  display: flex;
  width: 100%;
  height: 10%;
  animation: assemble 0.5s ease-out forwards;
  animation-delay: var(--delay);
  transform: translateY(90dvh);
  background-color: white;
}

.session-result-score-border {
  width: 0%;
  height: 4px;
  background-color: white;
  animation: score-border 1s 4800ms forwards;
}

.session-result-result {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  color: white;
  padding-inline: 2rem;
}

@keyframes assemble {
  to {
    transform: translateY(0);
  }
}

@keyframes score-border {
  to {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .session-result {
    width: 100%;
    height: 60% !important;
  }
}
