/*
follow: two-step sliding cover; comes in and takes the full width and then leaves from the opposite side.
no-follow- a simple one-step sliding cover, revealing the content beneath. 
 */

.cover-layer-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  overflow: hidden;
}
.cover-layer-container.hide {
  animation: hide 0.8s forwards;
}

.cover-layer {
  width: inherit;
  height: inherit;
  background-color: #fff;
}

.cover-layer.active.follow {
  animation: below-follow 0.8s 0s forwards;
}

.cover-layer.active::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  height: 100%;
}

.cover-layer.active.to-right.follow::after {
  animation: to-right-follow 0.8s 0s ease-out forwards;
}

@keyframes to-right-follow {
  0% {
    background-color: #e2b96b;
    transform: translateX(-100%);
  }
  35% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(0);
  }
  100% {
    background-color: #e2b96b;
    transform: translateX(100%);
    display: none;
  }
}

@keyframes below-follow {
  0% {
    background-color: #fff;
  }
  35% {
    background-color: #fff;
  }
  65% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
    display: none;
  }
}

@keyframes hide {
  0% {
    z-index: 15;
  }
  99% {
    z-index: 15;
  }
  100% {
    z-index: -10;
  }
}
