#modal-backdrop {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  z-index: 50;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
